
.score-element{

  padding-left:15px;
  margin-bottom: 10px;
  .date{
    color: #aaa;
  }
  .user{
    font-weight:bold;
  }
  .score{

  }
}


.input-tip{
  margin-left: 15px;
  font-weight:bold;
}


.jumbotron{
  p{
    &.small{
      font-size: 19px;
    }
  }
}