@-webkit-keyframes pulsate {
  0% {-webkit-transform: scale(1.0, 1.0);}
  50% {-webkit-transform: scale(1.3, 1.3);}
  100% {-webkit-transform: scale(1.0, 1.0);}
}

@keyframes pulsate {
  0% {-webkit-transform: scale(1.0, 1.0);}
  50% {-webkit-transform: scale(1.3, 1.3);}
  100% {-webkit-transform: scale(1.0, 1.0);}
}

@-webkit-keyframes disapear{
  50% {
    -webkit-transform: translateX(-5%);
    transform: translateX(-5%);
  }

  100% {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
  }
}

@keyframes disapear{
  50% {
    -webkit-transform: translateX(-5%);
    transform: translateX(-5%);
  }

  100% {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
  }
}

.space-bottom{
  margin-bottom: 25px;
}

.space-top{
  margin-top: 25px;
}