@import "helpers";

body {
  margin-top: 20px;

  .page-home{

    img{
      max-width: 400px;
      display: block;
      width: 100%;
    }

    a.play{
      width: 150px;
      margin-top: 25px;
    }
    .jumbotron{
      padding: 10px;
      margin-top: 50px;
    }
  }

  .page-login {
    input {
      padding: 10px 16px;
      font-size: 18px;
      height: 46px;
    }
  }

  .page-game {
    .loading {
      button {
        margin-top: 25px;
        -webkit-animation: pulsate 1s ease-out;
        -webkit-animation-iteration-count: infinite;
        animation: pulsate 1s ease-out;
        animation-iteration-count: infinite;

      }
      &.ng-hide {
        -webkit-animation: disapear 1s;
        -webkit-animation-fill-mode: forwards;
        animation: disapear 1s;
        animation-fill-mode: forwards;
      }
    }

    .game {

      .timer {
        display: block;
        position: absolute;
        right: 50px;
        top: 20px;
        font-size: 3em;

        &.hurry {
          -webkit-animation: pulsate 1s ease-out;
          -webkit-animation-iteration-count: infinite;
          animation: pulsate 1s ease-out;
          animation-iteration-count: infinite;
        }

      }

      .points {
        display: block;
        position: absolute;
        left: 50px;
        top: 20px;
        font-size: 3em;
      }

      .question {
        text-transform: uppercase;
        letter-spacing: 23px;
        font-size: 2em;
        margin-top: 70px;
      }

      .answer_wrap {
        margin-top: 20px;
        float: left;
        position: relative;
        left: 50%;
        .answer {
          float: left;
          position: relative;
          left: -50%;

          input {
            width: 40px;
            height: 40px;
            text-align: center;
            margin: 2px;
            font-size: 2em;
            text-transform: uppercase;
            padding: 0;

           &:active, &:focus{
              border: 2px solid #a94442;
              margin: 1px;
            }
          }
        }
      }

      @media  (max-width: 600px){
        .question {
          letter-spacing: 5px;
          font-size: 2em;
        }
        .answer_wrap {
          .answer {
            input {
              width: 30px;
              height: 30px;
              font-size: 1em;
            }
          }
        }

        .timer {
          right: 25px;
          font-size: 2em;
        }

        .points {
          left: 25px;
          font-size: 2em;
        }
      }
    }

    .complete{
      .score-link{
        margin-top: 20px;
      }
    }
  }
}

