<li class="score-element"><span class="score"><span class="user">{{ $ctrl.score.user }}</span> {{ $ctrl.score.score }} points</span>   <span class="date">{{ $ctrl.score.datetime | date:'short' }}</span> </li>