<div class="page-game row">

    <div class="loading jumbotron col-md-6 col-md-offset-3 text-center" ng-hide="$ctrl.inProgress || $ctrl.finished">
        <h4 clas="text-center">{{ ::$ctrl.user }}, here are the rules</h4>
        <ul class="text-left">
            <li class="">Use your keyboard to enter the words.</li>
            <li class="">Every correction reduces points you get</li>
            <li>Use arrows to navigate and fix typos quicker</li>
            <li class="">You have 40 seconds</li>
        </ul>

        <button ng-show="$ctrl.loaded" class="btn btn-danger btn-lg" ng-click="$ctrl.start()">Start</button>
    </div>

    <div ng-show="$ctrl.inProgress" class="game">

        <div class="timer" ng-class="{'hurry': $ctrl.timeLeft < 10, 'text-danger':$ctrl.timeLeft < 5  }">
            {{ $ctrl.timeLeft }}s
        </div>

        <div class="points">
            {{ $ctrl.points }} points
        </div>
        <div class="row">
             <span class="text-center question text-danger center-block">
            {{ $ctrl.question }}
        </span>

        </div>
        <div class=" answer_wrap">
            <div answer class="answer clearfix">
                    <answer-input data-number="i" ng-repeat="(i,el) in  $ctrl.question.split('') track by i" ></answer-input>
            </div>
        </div>

    </div>

    <div class="complete jumbotron col-md-6 col-md-offset-3 text-center" ng-show="!$ctrl.inProgress && $ctrl.finished">

        <h3>Timeout!</h3>

        <p>{{ ::$ctrl.user }}, you got <strong>{{ $ctrl.points }} points</strong>.</p>
           <p class="small"> Stretch your brain and get more points.</p>

        <button class="btn btn-danger btn-lg" ng-click="$ctrl.init()">Start again</button>

        <p class="small score-link"> or <a ng-link="['Scores']">checkout the scores</a></p>
    </div>


</div>
