<div class="row page-home">
    <h1 class="text-center">UnMangle</h1>

    <h3 class="text-center">Fix as many words as you can</h3>

    <div class="text-center">
        <img src="../assets/example.png" class="center-block" />
     <a class="btn btn-lg btn-danger play" ng-link="['Game']">Play</a>
    </div>

    <div class="col-md-6 col-md-offset-3 jumbotron">

        <h4>Top 10 results  <a class="label label-default" ng-link="['Scores']">See all</a></h4>
        <ol>
            <score-element score="s" ng-repeat="(key,s) in $ctrl.scores | orderBy:'-score' | limitTo: 10 track by $index"></score-element>
        </ol>

    </div>
</div>
