<div class=" row page-login">

    <div class="col-lg-6 col-lg-offset-3 jumbotron">
        <h2 class="text-center">What's your name?</h2>

        <form name="form">
            <div class="input-group">
                <input ng-model="$ctrl.name" name="name" class="form-control" placeholder="Your name" ng-required="true"
                       ng-minlength="3"/>
            <span class="input-group-btn">
                <button type="submit" class="btn-lg btn btn-primary" ng-disabled="form.$invalid"
                ng-click="$ctrl.start()">Start</button>
                </span>
            </div>

            <div class="input-tip" ng-show="form.name.$error.minlength">
                We need at least 3 characters of your name
            </div>

        </form>
    </div>
</div>