<div class="row page-scores">




    <div class="col-md-6 col-md-offset-3 ">
        <h1 class="text-center">UnMangle</h1>

        <h4 >List of scores <a class="label label-default" ng-link="['Home']">Back home</a></h4>
        <ol>
            <score-element score="s" ng-repeat="(key,s) in $ctrl.scores | orderBy:'-score'"></score-element>
        </ol>

    </div>
</div>
